.App{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(background1.png);
    background-repeat: no-repeat;
    background-size: cover; */
  }



.mainContainer{
    width: 90%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.headContainer{
    max-width: 1100px;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

button{
    background: #ed6c45;
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 8px;
    color: #FFFFFF;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab{
    margin-top: 50px;
    font-family: 'NexaRegular';
font-size: 22px;
    width: 710px;
    height: 52px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.09);
    /* padding: 18px 50px 19px 49px; */
    border-radius: 39px;
    column-gap: 60px;
    justify-content: center;

}
.linkTo{
    color: #FFFFFF;
    text-decoration: none;

}

.linkTo:hover{
    color: #ED6C45;
    text-decoration: underline;
}


.upComming > span{
    color: #ED6C45;
    text-decoration: none;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.documentation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 295px;
    height: 50px;
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    transform: rotate(0deg);

}
.upComming{
        margin-top: 100px;
        color: #FFFFFF;
        width: 100%;
        max-width: 1080px;
        display: flex;
        flex-direction: row;
        line-height: 20px;
        justify-content: space-between;

}

/* card part */



