.cards{
    width: 100%;
    justify-content: space-between;
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 30px;
    margin-top: 50px;
    color: #FFFFFF;
    height: 525px;
  

}
.posRelativeLayerThree{
    position: relative;
    
}
.ether{
    position: absolute;

    border-radius: 50%;
    background: linear-gradient(122.35deg,#ed6c45 35.68%,rgba(237,108,69,.02) 96.15%),linear-gradient(0deg,#221b1b,#221b1b);
    padding: 1px 0px 0px 0px;
    top: 90%;
    left: 38%;
    
}
.layerTwo{

    display: flex;
    align-items: center;
    justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
    border-radius: 50%;
    background: #0b0a0a;

    
}

.cardContentSecond{
    
    display: flex ;
    flex-direction: column;
    clip-path: polygon(100% 0,100% 85%,82% 100%,0 100%,0 0);
    width: 340px;
    height: 501px;
    border-radius: 20px;
    border: 0 solid #e5e7eb;
    background: linear-gradient(122.35deg,#ed6c45 35.68%,rgba(237,108,69,.02) 96.15%),linear-gradient(0deg,#221b1b,#221b1b);
    padding: 1px;


    
    
    
}
.front{
    
    display: flex ;
    flex-direction: column;
    clip-path: polygon(100% 0,100% 85%,82% 100%,0 100%,0 0);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 0 solid #e5e7eb;
    background: #221B1B;
        
 
}

.lowestContainer{
    display: flex ;
    flex-direction: column;
    clip-path: polygon(100% 0,100% 85%,82% 100%,0 100%,0 0);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 0 solid #e5e7eb;
    align-items: center;

    
}

/* .color{
    color: #ed6c45;
} */
.cardHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Nexa-Bold';
    font-size: 22px;
    line-height: 32px;
    margin-left: 8px;
    margin-bottom: 20px;

}
.contentContainer{
    margin-top: 30px;
    width: 310px;
height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.cardHeadingTwo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Nexa-Bold';
    font-size: 22px;
    /* margin-left: 26px; */

}



.spySecond{
    width: 310px;
    height: 37px;
    min-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383131;    border-radius: 2px;
    clip-path: polygon(100% 0,100% 70%,95% 100%,0 100%,0 0);
    font-family: 'Nexa-Bold';
    font-size: 18px;
}
  

.twitter{
    /* margin-top: 10px; */
    font-family: 'Nexa-Bold';
font-size: 18px;
}

.stake{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 240px;
height: 37px;

}

