.mainContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 710px;
}
.tab{
    margin-top: 50px;
    font-family: 'NexaRegular';
font-size: 22px;
    width: 710px;
    height: 52px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.09);
    /* padding: 18px 50px 19px 49px; */
    border-radius: 39px;
    column-gap: 60px;
    justify-content: center;

}
.linkTo{
    color: #FFFFFF;
    text-decoration: none;

}

.linkTo:hover{
    color: #ED6C45;
    text-decoration: underline;
}

@media(max-width: 840px){
    .mainContainer{
        max-width: 80%;
    
    
    }

    .tab{
        margin-top: 50px;
        font-family: 'NexaRegular';
    font-size: 22px;
        width: 100%;
        height: 52px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.09);
        /* padding: 18px 50px 19px 49px; */
        border-radius: 39px;
        column-gap: 60px;
        justify-content: center;
    
    }



}